.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.logo {
  cursor: pointer;
  margin: auto;
  margin-bottom: -30px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .logo {
    margin: 0px;
  }

  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.title-size {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 300;
  line-height: 1.2;
  margin-top: 1.5rem !important;
}

@media (min-width: 1200px) {
  .title-size {
    font-size: 3.5rem;
  }
}

.fw-bolder {
  font-weight: bolder !important;
  margin-bottom: 0.5rem !important;
}

.light-text {
  opacity: 0.7 !important;
}

.lead {
  font-size: 1.25rem;
  font-weight: 400 !important;
  margin-bottom: 1.5rem !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.sub-title {
  text-align: center !important;
}

@media (min-width: 768px) {
  .sub-title {
    text-align: left !important;
  }
}

.display-6 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-6 {
    font-size: 2.5rem;
  }
}

.button-space {
  justify-content: center !important;
  display: grid;
  gap: 1rem !important;
}

@media (min-width: 768px) {
  .button-space {
    justify-content: flex-start !important;
    display: flex;
    gap: 1rem !important;
  }
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: calc(1.5rem * -0.5);
  margin-left: calc(1.5rem * -0.5);
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-top: 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-md-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.col-lg-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mb-lg-0 {
  margin-bottom: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.col {
  flex: 1 0 0%;
}

.col-lg-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.h-auto {
  height: auto !important;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}

h5,
.h5,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}
