<main class="flex-shrink-0" id="main">
    <!-- Navigation-->
    <nav class="navbar">
        <div class="container">
            <a id="a_navbar" target="_self" href="assets/files/Md. Nasirul Haque (CV).pdf" download="resume_mnh.pdf"
                class="navbar-brand">
                <h1 class="title-size fw-bolder">Md Nasirul Haque</h1>
                <p class="lead light-text">Logical Abstract Perfectionist ... .. . </p>
            </a>
            <img src="{{imgSrc}}" alt="Logo" height="250px" width="250px" class="logo">
        </div>
    </nav>
    <!-- Header-->
    <header class="py-1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 sub-title">
                        <h1 class="display-6 fw-bolder">A small developer in a wide world</h1>
                        <p class="lead light-text">Doing my bit to make my mark</p>
                        <div class="button-space">
                            <a class="btn btn-secondary btn-lg" target="_self"
                                href="assets/files/Md. Nasirul Haque (CV).pdf" download="resume_mnh.pdf">Download
                                Resume</a>
                            <a a href="https://www.linkedin.com/in/mdnasirulhaque"
                                class="btn btn-secondary btn-lg">Contact</a>
                            <a class="btn btn-secondary btn-lg" href="/dashboard">Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Work Experience -->
    <section>
        <div class="container my-5">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h2 class="fw-bolder mb-0">Proficiency</h2>
                </div>
                <div class="col-lg-8">
                    <div class="row row-cols-1 row-cols-md-2">
                        <div class="col h-auto">
                            <div class="feature"></div>
                            <h2 class="h5">Web Designing</h2>
                            <p class="mb-0 light-text">Angular 7+, Javascript, Typescript, HTML, CSS,
                                SCSS, Java SE, J2EE</p>
                        </div>
                        <div class="col h-auto">
                            <div class="feature"></div>
                            <h2 class="h5">Object Oriented Programming</h2>
                            <p class="mb-0 light-text">Core Java, Python</p>
                        </div>
                        <div class="col h-auto">
                            <div class="feature"></div>
                            <h2 class="h5">Server-side Technologies</h2>
                            <p class="mb-0 light-text">NodeJS, JSP, Servlets, API Integration, Microservices, Maven,
                                Gradle, Spring Boot</p>
                        </div>
                        <div class="col h-auto">
                            <div class="feature"></div>
                            <h2 class="h5">Database</h2>
                            <p class="mb-0 light-text">Mongo DB, MySQL, Oracle, Cassandra</p>
                        </div>
                        <div class="col h-auto">
                            <div class="feature"></div>
                            <h2 class="h5">Hybrid App Development</h2>
                            <p class="mb-0 light-text">Cordova</p>
                        </div>
                        <div class="col h-auto">
                            <div class="feature"></div>
                            <h2 class="h5">Data Engineering</h2>
                            <p class="mb-0 light-text">Kafka, Hive, Hadoop, Spark, Sqoop</p>
                        </div>
                        <div class="col h-auto">
                            <div class="feature"></div>
                            <h2 class="h5">DevOps</h2>
                            <p class="mb-0 light-text">Docker, Jenkins</p>
                        </div>
                        <div class="col h-auto">
                            <div class="feature"></div>
                            <h2 class="h5">Cloud</h2>
                            <p class="mb-0 light-text">Google Firebase, Heroku, Azure</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Qualifications-->
    <section class="py-1" id="features">
        <div class="container my-5">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h2 class="fw-bolder mb-0">Qualifications</h2>
                </div>
                <div class="col-lg-8">
                    <div class="row row-cols-1 row-cols-md-2">
                        <div class="col h-auto">
                            <div class="feature"></div>
                            <h2 class="h5">Bachelor of Technology in Computer Science and Engineering</h2>
                            <p class="mb-0 light-text">Netaji Subhash Engineering College; Kolkata, West Bengal, India
                            </p>
                            <p class="mb-0 light-text">2018 Batch</p>
                        </div>
                        <div class="col h-auto">
                            <div class="feature"></div>
                            <h2 class="h5">High School and Secondary School Degree (ISC, ICSE Science)</h2>
                            <p class="mb-0 light-text">St Augustine's Day School; Kolkata, West Bengal, India</p>
                            <p class="mb-0 light-text">2014 Batch</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>