<div class="container">
  <div class="row header">
    <span class="top">
      <p class="title">
        MD NASIRUL HAQUE
      </p>
      <p class="subtitle sub1">
        Build Code Automate Deploy
      </p>
      <p class="subtitle sub2">
        ... .. .
      </p>
    </span>
  </div>
  <hr class="hr">
  <div class="row row1 d-flex justify-content-center">
    <ng-container *ngFor="let item of topTiles">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body card-non-hover">
            <div class=" d-flex justify-content-center">
              <aim-svg *ngIf="item.hover.image === 'aim'"></aim-svg>
              <blog-svg *ngIf="item.hover.image === 'blog'"></blog-svg>
              <vision-svg *ngIf="item.hover.image === 'vision'"></vision-svg>
              <resume-svg *ngIf="item.hover.image === 'resume'"></resume-svg>
            </div>
            <hr class="hr hr-card">
            <h3 class="card-title d-flex justify-content-center text-capitalize">{{item.noHover.title}}</h3>
            <p class="d-flex text-center justify-content-center"> {{item.noHover.description}} </p>
          </div>
          <div class="card-body card-hover" (click)="linkClicked(item.hover.linkType == 'link', item.hover.link)">
            <div class=" d-flex justify-content-center">
              <aim-svg fillColor="white" *ngIf="item.hover.image === 'aim'"></aim-svg>
              <blog-svg fillColor="white" *ngIf="item.hover.image === 'blog'"></blog-svg>
              <vision-svg fillColor="white" *ngIf="item.hover.image === 'vision'"></vision-svg>
              <resume-svg fillColor="white" *ngIf="item.hover.image === 'resume'"></resume-svg>
            </div>
            <hr class="hr hr-card">
            <h3 class="card-title d-flex justify-content-center text-capitalize">{{item.noHover.title}}</h3>
            <ng-container *ngIf="item.hover.linkType == 'link'">
              <p class="card-text d-flex justify-content-center">Click to Follow </p>
            </ng-container>
            <ng-container *ngIf="item.hover.linkType == 'modal'">
              <p class="card-text d-flex justify-content-center">View Details </p>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="row row2 d-flex justify-content-center">
    <ng-container *ngFor="let item of bottomTiles">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body card-non-hover">
            <div class=" d-flex justify-content-center">
              <education-svg fillColor="black" *ngIf="item.hover.image === 'education'"></education-svg>
              <project-svg fillColor="black" *ngIf="item.hover.image === 'project'"></project-svg>
              <work-svg fillColor="black" *ngIf="item.hover.image === 'work'"></work-svg>
              <achievement-svg fillColor="black" *ngIf="item.hover.image === 'achievement'"></achievement-svg>
            </div>
            <hr class="hr hr-card">
            <h3 class="card-title d-flex justify-content-center text-capitalize">{{item.noHover.title}}</h3>
            <p class="d-flex text-center justify-content-center"> {{item.noHover.description}} </p>
          </div>
          <div class="card-body card-hover" (click)="linkClicked(item.hover.linkType == 'link', item.hover.link)">
            <div class=" d-flex justify-content-center">
              <education-svg fillColor="white" *ngIf="item.hover.image === 'education'"></education-svg>
              <project-svg fillColor="white" *ngIf="item.hover.image === 'project'"></project-svg>
              <work-svg fillColor="white" *ngIf="item.hover.image === 'work'"></work-svg>
              <achievement-svg fillColor="white" *ngIf="item.hover.image === 'achievement'"></achievement-svg>
            </div>
            <hr class="hr hr-card">
            <h3 class="card-title d-flex justify-content-center text-capitalize">{{item.hover.title}}</h3>
            <ng-container *ngIf="item.hover.linkType == 'link'">
              <p class="card-text d-flex justify-content-center">Click to Follow </p>
            </ng-container>
            <ng-container *ngIf="item.hover.linkType == 'modal'">
              <p class="card-text d-flex justify-content-center">View Details </p>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>