// themes
.reply-theme {
  background: linear-gradient(135deg, red, orange, yellow);
  color: #ffffff;
}

.orange-theme {
  background: linear-gradient(135deg, #4a6572, #232f34);
  color: #f9aa33;
}

.white-theme{
  background: linear-gradient(90deg, #585858, #acacac ,#ffffff);
  color: black;
}

.dark-theme{
  background: linear-gradient(90deg, #000000, #1f1e1e ,#1d1d1d);
  color: white;
}

.picture-theme {
  background-image: url("src/assets/pics/home.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  color: #ffffff;
}
