<div class="header">
    <div class="header-text">
        <h4>Hi 😀, I am Md Nasirul Haque</h4>
    </div>
</div>
<router-outlet></router-outlet>
<div class="footer">
    <div class="sm-text" (click)="showHide()">
        <span>Wanna Talk Over Coffee ? </span>
        <img src="assets/social/coffee.svg" alt="" height="35px" width="40px" class="sm-text-icon">
    </div>
    <div class="sm-icons" *ngIf="show">
        <a href="https://github.com/lurisan" class="social-icons  zoomin frame" target="_blank">
            <img src="assets/social/github.svg" alt="" height="25px" width="25px">
        </a>
        <a href="mailto:talk2lurisan@gmail.com" class="social-icons  zoomin frame" target="_blank">
            <img src="assets/social/gmail.svg" alt="" height="25px" width="25px">
        </a>
        <a href="https://www.facebook.com/lurisan.euqah" class="social-icons  zoomin frame" target="_blank">
            <img src="assets/social/facebook.svg" alt="" height="25px" width="25px">
        </a>
        <a href="https://www.instagram.com/md_nasirul_haque" class="social-icons  zoomin frame" target="_blank">
            <img src="assets/social/instagram.svg" alt="" height="25px" width="25px">
        </a>
        <a href="https://www.linkedin.com/in/mdnasirulhaque" class="social-icons  zoomin frame" target="_blank">
            <img src="assets/social/linkedin.svg" alt="" height="25px" width="25px">
        </a>
        <a href="https://www.messenger.com/t/lurisan.euqah" class="social-icons  zoomin frame" target="_blank">
            <img src="assets/social/messenger.svg" alt="" height="25px" width="25px">
        </a>
        <a href="skype:nasirul790?chat" class="social-icons  zoomin frame" target="_blank">
            <img src="assets/social/skype.svg" alt="" height="25px" width="25px">
        </a>
        <a href="https://api.whatsapp.com/send?phone=919007767313" class="social-icons  zoomin frame" target="_blank">
            <img src="assets/social/whatsapp.svg" alt="" height="25px" width="25px">
        </a>
    </div>
</div>