<div class="container-fluid" id="main">
    <div class="row">
        <div class="header">
            <div class="header-text">
                <img (click)="changeTheme()" src="{{imgSrc}}" alt="Logo" height="250px" width="250px" class="logo">
            </div>
        </div>
        <!-- <div>
                <span class="title" *ngFor="let x of ['.'].constructor(10)">
                    <span class="running"></span>
                </span>
            </div> -->
    </div>
    <div class="row router">
        <div class="wrap">
            <div *ngFor="let x of ['.'].constructor(1000)" class='c'></div>
        </div>
        <a href="../home" style="color:inherit;" data-toggle="tooltip" title="Click anywhere to go back">
            <div class="md">
                <div markdown [data]="data"></div>
            </div>
        </a>
    </div>
    <div class="row">
        <div class="footer">
            <div class="sm-text" (click)="showHide()">
                <span>Let's Talk Over Coffee ? </span>
                <img src="assets/social/coffee.svg" alt="Coffee" height="35px" width="40px" class="sm-text-icon">
            </div>
            <div class="sm-icons" *ngIf="!show">
                <a href="https://github.com/lurisan" class="social-icons zoomin frame" target="_blank">
                    <img src="assets/social/github.svg" alt="Github" height="25px" width="25px">
                </a>
                <a href="mailto:talk2lurisan@gmail.com" class="social-icons zoomin frame" target="_blank">
                    <img src="assets/social/gmail.svg" alt="Gmail" height="25px" width="25px">
                </a>
                <a href="https://www.facebook.com/lurisan.euqah" class="social-icons zoomin frame" target="_blank">
                    <img src="assets/social/facebook.svg" alt="Facebook" height="25px" width="25px">
                </a>
                <a href="https://www.instagram.com/md_nasirul_haque" class="social-icons zoomin frame" target="_blank">
                    <img src="assets/social/instagram.svg" alt="Instagram" height="25px" width="25px">
                </a>
                <a href="https://www.linkedin.com/in/mdnasirulhaque" class="social-icons zoomin frame" target="_blank">
                    <img src="assets/social/linkedin.svg" alt="LinkedIn" height="25px" width="25px">
                </a>
                <a href="https://www.messenger.com/t/lurisan.euqah" class="social-icons zoomin frame" target="_blank">
                    <img src="assets/social/messenger.svg" alt="Messenger" height="25px" width="25px">
                </a>
                <a href="skype:nasirul790?chat" class="social-icons zoomin frame" target="_blank">
                    <img src="assets/social/skype.svg" alt="Skype" height="25px" width="25px">
                </a>
                <a href="https://api.whatsapp.com/send?phone=919007767313" class="social-icons zoomin frame mobile"
                    target="_blank">
                    <img src="assets/social/whatsapp.svg" alt="Whatsapp" height="25px" width="25px">
                </a>
            </div>
        </div>
    </div>
</div>