<div class="home" *ngIf="loader">

  <div class="typewriter bcad">
    Build Code Automate Deploy
  </div>

  <div class="seperator">

  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.aria-valuenow]="value"
      aria-valuemin="0" aria-valuemax="100" style="width: {{value}}%"></div>
  </div>
</div>

<div class="home mainPage" *ngIf="!loader">
  <img src="{{imgSrc}}" alt="Logo" height="250px" width="250px" class="logo">
  <div class="typewriter">
    Md Nasirul Haque
  </div>
</div>

<div *ngIf="!loader" class="content">
  <app-home-v2></app-home-v2>
</div>