.home {
  width: 50%;
  height: 5%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 36px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.bcad {
  width: 100%;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  color: white;
  justify-content: center;
  overflow-x: hidden;
}

.slider-wrapper {
  font-size: 40px;
  color: #aaa;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainPage {
  animation: fadeIn 3s;
}

.logo {
  margin-top: -10%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.seperator {
  padding: 10px;
}

.typewriter {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 5px;
  line-height: 1.2;
  font-weight: 600;
  width: 60%;
  animation: typing 10s steps(60, end), blink-caret 0.5s step-end infinite,
    floatBubble;
  animation-delay: 0s, 0s, 10s;
}

@keyframes typing {
  from {
    width: 0;
    border-right: 7px solid blue;
  }
  to {
    width: 100%;
    border-right: 0px;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: blue;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .home {
    width: 100%;
  }

  .logo {
    margin-top: -50%;
    animation: floatBubbleLogo 2s 3s forwards ease-out;
  }

  @keyframes floatBubbleLogo {
    0% {
      margin-top: -50%;
    }
    100% {
      margin-top: -170%;
      opacity: 0;
    }
  }

  .typewriter {
    font-size: 26px;
    margin-top: -15%;
    font-weight: 100;
    width: 100%;
    animation: typing 3s steps(60, end), blink-caret 0.5s step-end infinite,
      floatBubbleText 2s 3s forwards ease-out;
  }

  @keyframes floatBubbleText {
    0% {
      margin-top: -15%;
    }
    100% {
      margin-top: -80%;
      opacity: 0;
    }
  }

  .bcad {
    width: 85%;
    font-size: 18px;
    animation: typing 6s steps(60, end), blink-caret 0.5s step-end infinite;
  }

  .progress {
    width: 90%;
    margin-left: 5%;
    height: 5px;
  }

  .content {
    opacity: 0;
    animation: fadeIn 3s 5s forwards;
    font-size: 17px;
    margin-top: 0px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .home {
    width: 100%;
  }

  .logo {
    margin-top: -30%;
    animation: fadeOut 3s 2s forwards;
  }

  .typewriter {
    font-size: 30px;
    margin-top: -10%;
    font-weight: 500;
    width: 100%;
    animation: typing 3s steps(60, end), blink-caret 0.5s step-end infinite,
      fadeOut 3s 2s forwards ease-out;
  }

  .bcad {
    animation: typing 6s steps(60, end), blink-caret 0.5s step-end infinite;
  }

  .progress {
    width: 90%;
    margin-left: 5%;
    height: 5px;
  }

  .content {
    opacity: 0;
    animation: fadeIn 3s 5s forwards;
    font-size: 17px;
    margin-top: 0px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
// }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .home {
    width: 100%;
  }

  .logo {
    margin-top: -30%;
  }

  .typewriter {
    margin-top: -10%;
    font-weight: 500;
    width: 600%;
    animation: typing 8s steps(60, end), blink-caret 0.5s step-end infinite,
      fadeOut 3s 2s forwards ease-out;
  }

  .bcad {
    animation: typing 8s steps(60, end), blink-caret 0.5s step-end infinite;
  }

  .progress {
    width: 90%;
    margin-left: 5%;
    height: 5px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .home {
    width: 80%;
  }

  .logo {
    margin-top: -15%;
  }

  .typewriter {
    margin-top: -5%;
    font-weight: 600;
    width: 40%;
    animation: typing1 3s steps(60, end), blink-caret 0.5s step-end infinite,
      fadeOut 3s 2s forwards ease-out;
  }

  .bcad {
    animation: typing 6s steps(60, end), blink-caret 0.5s step-end infinite;
  }

  .progress {
    width: 90%;
    margin-left: 5%;
    height: 5px;
  }

  /* The typing effect */
  @keyframes typing1 {
    from {
      width: 0;
      border-right: 7px solid blue;
    }
    to {
      width: 40%;
      border-right: 0px;
    }
  }

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
      border-right: 7px solid blue;
    }
    to {
      width: 70%;
      border-right: 0px;
    }
  }
}
